.card {
    position: relative;
    width: 95%;
    max-width: 350px;
    height: 450px;
    border-radius: 5px;
    border: 1px solid white;
    background: rgb(1, 45, 92);
    background: -moz-linear-gradient(135deg, rgba(1, 45, 92, 1) 0%, rgba(0, 210, 253, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(1, 45, 92, 1) 0%, rgba(0, 210, 253, 1) 100%);
    background: linear-gradient(135deg, rgba(1, 45, 92, 1) 0%, rgba(0, 210, 253, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#012d5c",endColorstr="#00d2fd",GradientType=1);
    margin: 0 auto;

    .miniature {
        position: absolute;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 16%;
        z-index: 5;
    }

    .information {
        position: absolute;
        width: 86%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 30px;
        text-align: center;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px;
        color: black;

        h2 {
            margin-top: 18px;
        }

        .typeZone {
            height: 30px;
            margin: 5px 0;

            .type {
                display: inline-block;
                padding: 0 8px;
                border: 1px solid red;
                border-radius: 3px;
                text-align: center;
                color: red;
                font-size: 0.7rem;
            }
        }

        p {
            align-self: flex-start;
            line-height: 1.8rem;
        }
    }
}
