.card {
    position: relative;
    width: 95%;
    max-width: 350px;
    height: 450px;
    background-color: magenta;
    margin: 0 auto;

    .information {
        position: absolute;
        width: 90%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 30px;
        text-align: center;
        background-color: white;
    }
}
